## show.html
<%inherit file="/defaults/layout.html" />

<div id="content">
  <h2 class="first-heading">${h.textilize(c.page.title.encode('utf-8'))}</h2>
  ${h.textilize(c.page.content.encode('utf-8'))}
</div>

<div id="sidebar">
  ${h.textilize(c.page.sidebar.encode('utf-8'))}
</div>

<div class="clear-float"></div>

<%def name="title()">
  My Site
</%def>

<%def name="nav()">
  <%
      list_ = []
      dir_id = c.directory.slug
      for p in c.directory.pages:
          if p.id == c.page.id:
              class_ = 'current-page'
          else:
              class_ = ''
          a = h.link_to(p.title.title(), h.url_for('directory_page', directory_id=dir_id, id=p.slug), title=p.title)
          list_.append({'a': a, 'class_': class_})
  %>
  ${h.make_nav_list([list_])}
</%def>
